<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <script src="/service-worker"></script>
  <script src="https://js.pusher.com/beams/1.0/push-notifications-cdn.js"></script>
</head>
<body>
  <h2>Test Pusher Beam</h2>

  <script>
    const beamsClient = new PusherPushNotifications.Client({
      instanceId: 'f5351a9d-1aa3-4e62-840f-0248ef2cda29',
    });
  
    beamsClient.start()
      .then(() => beamsClient.addDeviceInterest('hello'))
      .then(() => console.log('Successfully registered and subscribed!'))
      .catch(console.error);
  </script>
</body>
</html>