<script src="/sweetalert.js"></script>

@if(flashMessages.has('alert'))
  @let(title = flashMessages.get('alert').message)
  @let(type = flashMessages.get('alert').type)
  <script>
    Swal.fire({ 
      title: "{{ title }}",
      icon: "{{ type }}"
    })
  </script>
@endif